@charset "UTF-8";

/*

    Paleta de cores:
    Rosa: #daafb8
    Rosa: #BF94A5
    Azul: #7997bd
    Azul: #4E6C88

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #daafb8;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

}

section#login > div#imagem {
    display: block;
    background: #daafb8 url(../imagens/imagem\(1\).jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 30px;
    margin: 10px 0px;
}

div.campo > span.material-symbols-outlined {
    font-size: 1.5em;
    width: 30px;
}

div.campo > input {
    font-size: 1em;
    height: 100%;
    width: 85%;
    border: 1px solid black;
    border-radius: 5px;
    transform: translateY(-7px);
}

form > input[type=submit] {
    display: block;
    margin: auto;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #5f7797;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #5f7797;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #5f7797;
    color: white;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    cursor: pointer;
    color: blue;
    margin: 5px;
}

form > input[type=button] {
    display: block;
    margin: auto;
    font-size: 1em;
    width: 75%;
    height: 30px;
    background-color: #da95a4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #da95a4;
    border-radius: 5px;
}